.App {
  font-family: sans-serif;
}


.svgCarrier {
  background: #eee;
  width: 340px;
  height: 340px;
  margin: 20px;
  border-radius: 15px;
}


.svgCarrier svg {
  padding: 20px;
  width: 300px;
  height: 300px;
}


.holder {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.inputCarrier {
  padding-top: 50px;
  
}
